/* You can add global styles to this file, and also import other style files */
body {
	margin: 0px;
	padding:0px;
	font-family: 'Changa', sans-serif;
	font-size: 14px;
}

h1 {
	font-family: 'El Messiri', sans-serif;
}